.header {
    @media (min-width: 750px) {
        &__center-menu-wrap {
            flex: 1 1 auto;
            max-width: 90%;
            margin: 0 auto;
            padding: 0 5px;
           // text-align: center;
        }
       &__burger {
        font-size: 30px;
        width: 30px;
        display: none;
       }
    &__bottom-line {
        background-color: none;
        margin: 0 0 -60px 0;
        position: relative;
    }
  &__menu-nav {
    padding: 5px 10px;
    background: rgba(23,24,37,.75);
    border-radius: 30px;
    border: 1px solid $ColorBorder;
  }
    &__menu-list {      
        display: flex;
        align-items: center; 
        flex-wrap: wrap;
        height: 30px;   
        justify-content: center;
        color: $ColorWhite;
        li:not(:first-child) {
            margin: 0  0 0 20px;
            @media (max-width: 1200px) {
                margin: 0  0 0 10px;
            }
        }
        .menu-item-has-children {
            display: flex;
            align-items: center;
            cursor: pointer; 
            position: relative;
        }
        li {
            transition: 0.3s all ease 0.3s;
        }
        li:hover {
            color: $ColorPrimaryLight;
        }
       
        .sub-menu {
            font-size: 12px;
            line-height: 14px;
            position: absolute;   
           
            top: 45px;
            z-index: -100;
            padding: 10px 40px;
            width: 300px;
            height: auto;
            border-radius: 3px;
            opacity: 0;
            background-color: $ColorPrimary;
            border: 1px solid $ColorBorder;
            visibility: hidden;
            left: -50%;
          transform: scale(0);
            transition:  0.9s ease 0.9s;
               display: flex;
               flex-direction: column;
               row-gap: 15px;
               font-size: 16px;
               li {
                padding: 0;
                margin: 0;
               }
                a {
                    color: $ColorWhite;
                }
                a:hover {
                    color: $ColorPrimaryLight;
                }
            }
            .menu-item-has-children:hover {    
                .sub-menu {
                    
                    transform: translate(50%, 50%);
                    transform: scale(1);
                    opacity: 0.9;
                    visibility: visible;
                }
            }
            
    }
}
&__menu-close {
    display: none;
}
@media (max-width: 750px) {
   
    &__burger {
        display: block;
        font-size: 30px;
        width: 30px;
    }
    &__menu-close {
        transform: rotate(45deg);
        font-size: 20px;
        width: 20px;
        display: block;
    }
    &__menu-nav {
        overflow-x: hidden;
        z-index: 2000;
        position: fixed;
        right: 0;
        top: 0;
        width: 300px;
        height: 100%;
        font-size: 16px;
        background-color: $ColorBlue;
        color: $ColorWhite;
        padding: 10px;
        transform: translate(100%);
        transition: 0.3s all ease 0.3s;
    }
    .menu-nav-open {
        transform: translate(0);
     
    }
    &__menu-list {
        margin: 20px 0 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        .menu-item-has-children {
            width: 100%;
            position: relative;
            cursor: pointer;
            i {    
                position: absolute;
                right: 40px;
            }
        }
    }
    .sub-menu {
        position: static;
        font-size: 12px;
        height: 0;
        visibility: hidden;
        opacity: 0;
    }
    .sub-menu-open {
        margin: 10px 0;
        font-size: 16px;
        height: auto;
        visibility: visible;
        opacity: 1;
        display: flex;  
        flex-direction: column; 
        row-gap: 10px; 
    }
}




}